
h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}



h2{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
}
.icon  {
    width: 30px;
    height: 30px;
}


.higuma {
    width: 60%;
}
.title-header {
    display: flex;
    align-items: center;
}